*, body { font-family: 'Open Sans', sans-serif; }
body { margin-bottom: 30px; }
h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: normal;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

.gray { color: #999; }

.form-horizontal .control-label { padding-top: 0; }
.form-horizontal.admin-payment-form .radio.admin-no-padding-top {	padding-top: 0; }
.control-wrapper {
	position: relative;
	padding-left: 30px;
}
.control-wrapper label.fa-label {
	position: absolute;
	left: 4px;
	top: 6px;
}
.form-group:last-child { margin-bottom: 0; }
.form-horizontal .control-label { margin-bottom: 10px; }
.table { margin-bottom: 0; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}
.admin-form-list-container { max-width: 600px; }
.admin-input-icon-container { position: relative; }
.admin-input-icon-container .fa {
	color: gray;
	position: absolute;
	left: 10px;
	top: 10px;
}
.admin-input-icon-container input, 
.admin-input-icon-container textarea {
	padding-left: 30px;
}
.admin-container {
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #dedede;
	border-radius: 8px;
	margin: 0 auto;
	padding: 30px;
}
.admin-bg-gray { background-color: #eee; }
.admin-bg-gray h1 { color: #2c5043; }
.font-size-small { font-size: 0.8em; }
.margin-bottom-15 {	margin-bottom: 15px; }
.margin-bottom-30 {	margin-bottom: 30px; }
.form-group { margin-bottom: 20px; }
.form-group a {	line-height: 34px; }
.fa { font-size: 16px; }
.fa.login-with {
	font-size: 30px;
	margin: 0 5px;
}
.fa-medium { font-size: 20px; }
.inline-block { display: inline-block; }


/*-------------------------------------
2. login-form-1
---------------------------------------*/
.second-chances-login-form { max-width: 500px; }
.second-chances-login-form a { color: gray; }
.second-chances-login-form a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.remove-all-styles {
	all: revert;
}
