/*-------------------------------------
1. search-form
---------------------------------------*/
.height {
    height: 20vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid rgba(51, 51, 51, .1)
}

.search input:focus {
    box-shadow: none;
    border: 2px solid rgb(255, 193, 7);
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: rgb(255, 193, 7);
}

.search button:hover{background-color:orange;}

.search button:focus{
	background-color:rgb(255, 193, 7);
}